/* Titulos */
.blue-bold-text {
    color: #1F77B4;
    font-size: 30px;
    font-weight: bold;
}

/* Combobox para seleccionar filtro */
.form-group-horizontal {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.form-label {
    font-weight: bold;
}

.form-combobox {
    font-size: 14px;
    padding: 8px 30px 8px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 40%;
    max-width: 300px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    appearance: none; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23DD6C21' d='M0 0L5 6L10 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center; 
    background-size: 10px;
}

.form-combobox:focus {
    border-color: #0055b0;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Boton de aplicar filtro */
.submit-button {
    background-color: #2c5382;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* ------ Dashlets -------*/

/* Barra superior de los dashlets */
.ibo-panel--body .ibo-panel--body::before {
    content: none;
    display: none; 
}

.ibo-dashboard--grid-column .ibo-panel--body::before {
    background-color: #2c5382 !important;
}

/* Grafica de barras */
[class*="c3-bar-"]:nth-of-type(even) {
    fill: #e92e2e !important;
}

.chart-title {
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
    color: #2c5382;
}

/* Grafiaca de pastel */
#twoArcPieChart .c3-arc-series-1 {
    fill: #e92e2e !important;
} 

#twoArcPieChart .c3-legend-item-series-1 .c3-legend-item-tile {
    stroke: #e92e2e !important; 
}